html,
body {
    height: 100%;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif, 'Arial Narrow Bold', sans-serif;
}

/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
}

.header,
.content,
.footer {
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 1rem;
    background-color: #D04848;
}   

.header,
.footer {
    align-items: center;
    gap: 1rem;
}

.logo,
.git {
    background-size: cover;
    height: auto;
}

.logo {
    width: 6rem;
}

.content {
    flex:1;
    flex-direction: column;
}

.sketch-board {
    flex: 4;
    background-color: #F3B95F;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.sketch-container {
    margin: 2rem;
    display: flex;
    height: 24rem;
    width: 24rem;
    flex-wrap: wrap;
    align-content: center;
    border: 1rem solid #6895D2;
}

.sketch-container > * {
    flex-shrink: 0;
    margin: 0;
}

.button-container {
    background-color: #FDE767;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.size-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#size {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 0;
}

.footer {
    justify-content: center;
    padding: 0.2rem;
    background-color: #6895D2;
}

.git {
    width: 2rem;
}

.git:hover {
    content: url("../images/github-logo-dark.png");
}

a {
    text-decoration: none;
}

a:hover {
    color: #F3B95F;
}