html,
body {
    height: 100%;
    margin: 0;
}

* {
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.content,
.footer {
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 1rem;
    background-color: #D04848;
}   

.header,
.footer {
    align-items: center;
    gap: 1rem;
}

.logo,
.git {
    background-size: cover;
    height: auto;
}

.logo {
    width: 6rem;
}

.content {
    flex:1;
    flex-direction: column;
}

.sketch-container {
    flex: 4;
    background-color: #F3B95F;
}

.button-container {
    background-color: #FDE767;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer {
    justify-content: center;
    padding: 0.2rem;
    background-color: #6895D2;
}

.git {
    width: 2rem;
}